<h1>TWIDDER</h1>

<div id="content">
  <h2>Create New Tweet</h2>
  <form id="create_new" role="form" action="/tweets/create" method="post">
      <textarea name="post[content]" class="form-control" id="inputContent" placeholder="Enter content" rows="3"></textarea>
    </div>
    <button value="submit" class="btn btn-default">Create New Post</button>
  </form>
</div>
